div{
   # border: 1px dotted red;
}

.task-img
{
    margin: 5px;
}

td input{
    width: 100px;
}

.info2
{
    text-align: justify;
    color: black;
    #font-size: 14px;
}


.info
{
    text-align: justify;
    color: black;
}